body {
	background: url(../img/1.jpg);
	text-align: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#links_container {
	padding: 5px;
	text-align: right;
}

a {
	font-size: 18px;
	text-decoration: none;
	margin: 0 10px;
	color: #999;
}

a:hover {
	color: #F5F5F5;
	text-decoration: none;
}

#img_container {
	margin: 10px;
	left: 100px;
	right: 100px;
}

img {
	margin: 0 50px;
	padding: 10px;
	background-color: #fff;
}

.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#main_container {
	position: relative;
	top: 220px;
	height: 450px;
	overflow: auto;
	
}