<!DOCTYPE html>
<html lang="en" ng-app="testTask">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yardstick Test Task</title>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/style.css" />

	<!--link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"-->
	<!--link rel="stylesheet" href="assets/css/style1.css"-->
    <link rel="stylesheet" href="css/sui.min.css">

	<link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css" />
	<link rel="stylesheet" href="css/bootstrap-modal-bs3patch.css" />
  	<link rel="stylesheet" href="css/bootstrap-modal.css" />

</head>
<body>
	<header>
		<div id="links_container">
			<a href="#">Github</a>
			<a href="../index.html">Logout</a>
		</div>

		<div id="img_container">
			<img src="img/cloud.png" id="cloud_png" class="img-rounded" />
			<img src="img/right.png" id="right_png" class="img-rounded blur" />
			<img src="img/running.png" id="run_png" class="img-rounded blur" />
			<img src="img/output.png" id="output_png" class="img-rounded blur" />
		</div>

		<div id="navigator">
			<div class="sui-steps-round steps-round-auto steps-4">
			  <div id="cases_nav" class="todo">
			    <div class="wrap">
			      <div class="round">1</div>
			      <div class="bar"></div>
			    </div>
			    <label id="label">select case</label>
			  </div>
			  <div id="run_nav" class="todo">
			    <div class="wrap">
			      <div class="round">2</div>
			      <div class="bar"></div>
			    </div>
			    <label id="label">run</label>
			  </div>
			  <div id="output_nav" class="todo">
			    <div class="wrap">
			      <div class="round">3</div>
			      <div class="bar"></div>
			    </div>
			    <label id="label">output</label>
			  </div>
			  <div class="todo last">
			    <div class="wrap">
			      <div class="round">4</div>
			    </div>
			  </div>
			</div>
		</div>

	</header>


	<div id="main_container" ng-controller="MainCtrl">		
		<div id="cloud_container" ng-controller="CloudCtrl">	      	
	      	<div class="row">
	        	<div class="col-xs-6 col-md-offset-3">	        
	          		<div class="ajax">
	            		<h3>Load Cloud</h3><br />
	            		<button class="demo btn btn-primary btn-lg btn-block text-center" data-toggle="modal">Load
	            		</button>
	         		</div>
	        	</div>
	    	</div>

	    	<div id="ajax-modal" class="modal fade" tabindex="-1" style="display: none;">
			  	<div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    	<h3>Load Successfully!</h3>
			  	</div>
			  	<div class="modal-body">
			    	<p>Click to Search for all available test cases!</p>
			  	</div>
			  	<div class="modal-footer">
			    	<button type="button" data-dismiss="modal" class="btn">Close</button>
			    	<button type="button" class="btn btn-primary search" ng-click="searchCases()">Search</button>
			  	</div>
			</div>
		</div>

		<div id="cases_container" ng-controller="CasesCtrl" ng-show="casesShow" ng-init="casesShow=0">
			<form ng-submit="submit()">
				<ul>
					<li ng-repeat="case in cases">
					  	<div class="checkboxFour">
					  		<div class="text">{{case.caseName}}</div>
							<input type="checkbox" id={{case.caseName}} ng-click="updateSelectedList($event)" />
							<label for={{case.caseName}}></label>
						</div>
					</li>
				</ul>
				<br /><br /><br />
				<button type="submit" class="demo btn btn-primary btn-lg btn-block text-center">Submit</button>
			</form>
		</div>

		<div id="history_container" ng-controller="HistoryCtrl" ng-show="histShow" ng-init="histShow=0">
			<h3 style="color: #000;">History  List</h3>
			<table>
			  <tr>
			  	<th>Number</th>
			    <th>Testing Case</th>
			    <th>Status</th>
			    <th>More Details</th>
			  </tr>
			  <tr>
			  	<td>1</td>
			    <td>OPNFV_001</td>
			    <td>running</td>
			    <td><a href="#">Check</a></td>
			  </tr>
			</table>
		</div>
		
	</div>

	<!--script src="js/jquery.3.1.0.min.js"></script-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/scripts.js"></script>

	<script src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>
	<script src="js/bootstrap-modalmanager.js"></script>
	<script src="js/bootstrap-modal.js"></script>
	<script src="js/axaj-modal.js"></script>
</body>
</html>